@media screen and (max-width: 760px) {
    .image-gallery h1 {
        font-size: 1.8rem;
    }

    .image-gallery p {
        font-size: 1rem;
    }

    .image-gallery .generate-form {
        margin-top: 30px;
        height: 52px;
        display: block;
    }

    .generate-form .controls {
        height: 40px;
        margin-top: 15px;
        align-items: center;
        justify-content: flex-end;
    }

    .generate-form .img-quantity {
        color: #fff;
    }

    .generate-form .generate-btn {
        height: 100%;
    }

    .image-gallery .img-card:not(.loading):hover .download-btn{
        display: flex;
    } 

    .image-gallery {
        margin-top: 20px;
    }
}

@media screen and (max-width: 650px) {
    .image-gallery .img-card {
        width: 100%;
    }

    .image-regenerator .content h1{
        margin-top: 50px;
    }

    .image-gallery{
        margin-top: 50px;
    }
}